celery==5.2.7
dash==2.5.1
dash_auth==1.4.1
dash_bootstrap_components==1.1.0
dash_core_components==2.0.0
dash_cytoscape==0.3.0
dash_daq==0.5.0
dash_html_components==2.0.0
dash_interactive_graphviz==0.3.0
dash_table==5.0.0
dask==2021.4.0
Flask==2.1.0
graphviz==0.19.2
matplotlib==3.3.4
numpy==1.20.1
ocpa==0.0.29
pandas==1.2.4
plotly==5.8.2
pm4py==2.2.20
pm4pymdl==0.0.46
python-dotenv==0.20.0
python_dateutil==2.8.2
redis==4.3.3
seaborn==0.11.1
simpy==4.0.1
